---
import Layout from '../../layouts/layout.astro';
---

<Layout title="Om oss">
  <main class="container">
    <h1>Vi vil skape gode opplevelser</h1>
    <p>
      Vi forstår at hvert øyeblikk teller, og at de beste minnene lages når man
      føler seg verdsatt, ivaretatt, og inspirert.
    </p>
    <p>
      Gode opplevelser er ikke bare et produkt av det man ser og hører, men
      hvordan man føler seg i øyeblikket. Vårt mål er å overgå forventningene
      ved hvert kontaktpunkt, enten det er et produkt, en tjeneste, eller en
      enkel samtale.
    </p>
  </main>
</Layout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    max-width: 60ch;
  }
</style>
