<footer>
    <div class="content">
        <h2>Velt AS</h2>
        <p>Organisasjonsnummer: 919 429 739</p>
        <p>
          Kontakt oss på 210 80 000 eller salg@velt.no.<br />
          Du finner oss i Myntgata 2, 0151 Oslo
        </p>
    </div>
</footer>

<style>
  .content {
    max-width: var(--container-width);;
    margin: 0 auto;
    padding: 2rem;
  }
  footer {
    background-color: hsla(var(--liberty-hue), 100%, 5%, 1);
    color: var(--color-solid-bg-text);
  }
</style>